//registry.npmjs.org/:_authToken=${NPM_TOKEN}
prefix=/home/user/.npm/modules
save-prefix=
init-author-name=Stephen Niedzielski
init-author-email=stephen@oidoid.com
init-author-url=https://oidoid.com
init-license=AGPL-3.0-only
init-version=0.0.0
message="[release] %s"
loglevel=warn
update-notifier=false
npx.noInstall=true
npx.quiet=true
fund=false
