"*":
  _dartlang:
    _errorsInitialized: true
    _firstRun: true
    _version: "0.6.6"
  _flutterAnalytics:
    clientId: "e69fb245-b718-46d5-9117-b614b966bfeb"
    optIn: true
  "atom-ternjs": {}
  "atom-toolbar":
    visible: false
  "autocomplete-clang": {}
  "autocomplete-plus":
    autoActivationDelay: 500
  build: {}
  core:
    autoHideMenuBar: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "jslint"
      "nuclide"
    ]
    followSymlinks: false
    packagesWithKeymapsDisabled: [
      "nuclide"
    ]
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  dartlang:
    sdkLocation: "/usr/lib/dart"
  editor:
    invisibles: {}
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "7d815892-1d43-fd28-bf3c-d96d6f724acd"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  flutter:
    flutterRoot: '''
      /home/stephen/opt/flutter
      
    '''
  jshint:
    onlyConfig: true
  linter:
    displayLinterInfo: false
    showErrorPanel: false
  "linter-clang": {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "node-debugger":
    nodePath: "/home/stephen/bin/node"
  nuclide:
    "nuclide-distraction-free-mode":
      hideToolBar: true
    "nuclide-home":
      showHome: false
  "omni-ruler":
    columns: [
      "50"
      "72"
      "80"
      "100"
    ]
  "omnisharp-atom":
    autoAddExternalProjects: true
    autoAdjustTreeView: true
    enhancedHighlighting: true
  tabs:
    enableVcsColoring: true
    showIcons: true
    usePreviewTabs: true
  "tool-bar": {}
  "tree-view":
    hideIgnoredNames: true
    sortFoldersBeforeFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
    removeTrailingWhitespace: false
