# adb protocol for Google devices
SUBSYSTEM=="usb", ATTR{idVendor}=="18d1", MODE="0606"

# adb protocol for Samsung devices
SUBSYSTEM=="usb", ATTR{idVendor}=="04e8", MODE="0606"

