[advice]
  statusHints = false
  detachedHead = false
[core]
  attributesfile = ~/.gitattributes
  excludesfile = ~/.gitignore
  pager = delta --light -s --navigate --commit-style box --tabs 2
  whitespace = tabwidth=2
[alias]
  crumb = commit --allow-empty-message -nm ''
  co = checkout
  s = status
  # --pickaxe: limit any regexs to the actual content change.
  d = diff --pickaxe-regex -C -C #--word-diff
  dc = !git d --cached
  # --show-pulls: report merge commits too.
  l = log -C -C --show-pulls
  short = rev-parse --short
  # don't use !pwd here since that works whether in a repo or not
  root = rev-parse --show-toplevel
  diff-img = difftool -x 'compare -alpha copy \"$LOCAL\" \"$REMOTE\" png:- | montage -mode concatenate \"$LOCAL\" png:- \"$REMOTE\" png:- | display -title \"$BASE: Local | Diff | Remote\" png:-'
  push-gerrit = push origin HEAD:refs/for/master
  push-gerrit-draft = push origin HEAD:refs/drafts/master

[protocol]
    version = 2

[color]
  grep = auto
  interactive = auto
  showBranch = auto
  status = auto
[color "diff"]
  meta = blue bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "grep"]
  filename = green
[column]
  ui = auto dense
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[diff]
  renames = copies
  tool = meld # gumtree
  indentHeuristic = true
  algorithm = histogram
  colorMoved = default
[diff "img"]
  textconv = exiftool \
    -x ExifToolVersion \
    -x FileName \
    -x Directory \
    -x FileTypeExtension \
    -x FileCreateDate \
    -x FileModifyDate \
    -x FileAccessDate \
    -x FileInodeChangeDate
  cachetextconv = true
[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"
[grep]
  extendedRegexp = true
[gui]
  commitMsgWidth = 72
[log]
  decorate = auto
  follow = true
  abbrevCommit = true
[merge]
  tool = meld
  conflictstyle = diff3
[mergetool]
  keepBackup = false
[mergetool "meld"]
  cmd = meld --auto-merge --output "$MERGED" "$LOCAL" "$BASE" "$REMOTE"
[status]
  short = true
  branch = true
[submodule]
  fetchJobs = 0

[diff-so-fancy]
  markEmptyLines = false

[include]
  path = ~/.gitconfig_private
[rerere]
	enabled = true
	autoupdate = true
[user]
	name = Stephen Niedzielski
	email = stephen@niedzielski.com
[commit]
	verbose = true
[pull]
	ff = only
