set input-meta on
set output-meta on
set convert-meta off

set bell-style none

set completion-ignore-case on
set show-all-if-ambiguous on
set show-all-if-unmodified on

set skip-completed-text on

set visible-stats on
set colored-stats on

set history-size -1

# c-left and c-right
"\e[1;5C":forward-word
"\e[1;5D":backward-word

# c-del, c-backspace
"\e[3;5~": kill-word
"\C-h": backward-kill-word

# http://www.ukuug.org/events/linux2003/papers/bash_tips/
# https://news.ycombinator.com/item?id=11211344
# incremental searching with up and down. e.g., type "ls" and press up to search all ls invocations
"\e[A": history-search-backward
"\e[B": history-search-forward
