//registry.npmjs.org/:_authToken=${NPM_TOKEN}
save-prefix=
init.author.name=Stephen Niedzielski
init.author.email=stephen@niedzielski.com
init.author.url=niedzielski.com
loglevel=warn
update-notifier=false
