//registry.npmjs.org/:_authToken=${NPM_TOKEN}
prefix=/home/stephen/.npm/modules
save-prefix=
init.author.name=Stephen Niedzielski
init.author.email=stephen@niedzielski.com
init.author.url=https://niedzielski.com
init.license=AGPL-3.0-only
init.version=0.0.0
message=[release] %s
loglevel=warn
update-notifier=false
npx.noInstall = true
npx.quiet = true
fund = false
